<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">

    <form>
        Email: <input type="email" placeholder="type your email address" ng-model="email"> <br> <br>

        pass: <input type="password" placeholder="type your password" ng-model="password"> <br> <br>

        <button ng-click="login(email,password)"> submit</button>
    </form>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('formCtrl', function($scope) {
        $scope.login= function ( email, password ) {
         if( email=="gauravkumar0764@gmail.com" && password=="123456789"){
             alert("succesfull login")
         }
         else{
             alert("login failed")
         }
        }

    });
</script>
</head>

</body>
</html>